html, body {
    font-family: 'Lexend', sans-serif;
    scrollbar-width: none;
}

body.webkit::-webkit-scrollbar {
    display: none;
}

.rightElements {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 40%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: 0;
}

.rightElements::-webkit-scrollbar {
    display: none;
}

.leftElements {
    width: 60%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    background-color: #F24B4B;
}

.allElements {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.title {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.mainLeft {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.mainLeft h1 {
    transform: translateX(100%);
    white-space: nowrap;
    animation: moveText 10s linear infinite;
}

.footer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.quote{
    height: 100%;
    width: 50%;
}

.quote h2 {
    font-size: 40px;
    padding-left: 20px;

}

.daysProgram {
    padding-top: 5px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}

.daysProgram h2 {
    font-size: 37px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}

.logo {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100%;
}

.slogan {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan h5 {
    font-size: 20px;
}

.extendedSection {
    width: 90%;
    margin-left: 5%;
    flex-grow: 1;
}

.topRight {
    height: 20%;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.headerSection {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.baseLinks {
    height: 100%;
    width: 50%;
}

.logSection {
    height: 100%;
    width: 50%;
}

.listLinks {
    list-style: none;
}

.listLinks li {
    font-size: 30px;
}

.listLinks li:hover {
    text-shadow: 3px 3px 0 white, 5px 5px 0 #F24B4B
}

.headerSection, .headerSectionAuth {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerSection {
    align-items: flex-start;

}

.headerSectionAuth{
    align-items: flex-end;
    padding-right: 30px;
}

.custom-select {
    background-color: #F24B4B;
    border: #F24B4B 1px solid;
    border-radius: 10px;
    color: white;
}

.custom-select:focus {
    border-color: #F24B4B !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 87, 34, 0.25);
    outline: none !important; 
}

.custom-select option:hover {
    background-color: #F24B4B !important;
}

.link-clean {
    color: inherit;
    text-decoration: none;
    
}

.custom-form {
    background-color: #F24B4B;
    color: white;
}

.custom-form:focus {
    background-color: white;
    border-color: #F24B4B;
    color: #F24B4B;
    box-shadow: 0 0 0 0.25rem rgba(255, 87, 34, 0.25);

}

.custom-form::placeholder {
    color: white;
}

.customLabel {
    font-size: 20px;
}

.btn-outline-success {
    background-color: white;
    border-color: #F24B4B;
    color: #F24B4B;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-primary:active {
    background-color: #F24B4B !important; 
    border-color: #F24B4B !important;
    color: white !important;
}

.btn-outline-primary {
    color: #F28749 ;
    background-color: white;
    border-color: #F28749;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
    background-color: #F28749 !important;
    border-color: #F28749 !important;
    color: white !important;
}

.modal-title {
    font-size: 40px;
}
@keyframes moveText {
    from {transform: translateX(100%);}
    to {transform: translateX(-100%);}
}

footer {
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerText {
    width: 100%;
    text-decoration: none;
    color: #F24B4B;
}

.footerEnd {
    font-size: 20px;
    color: #F24B4B;
}