{% extends 'base.html' %}

{% block title %}Aggiungi Performance{% endblock %}

{% block main %}

    <form class="addPeformance form" action="/addPerformance" enctype="multipart/form-data" method="POST">

        {% if invalid_data %}
            <p class="lexend-500" style="color: #F24B4B;">One or more errors may have occured. Try again!</p>
        {% endif %}

        <label for="artist" class="customLabel staatliches-regular">Artist</label>
        <input class="form-control custom-form" type="text" name="artist" id="artist" placeholder="Miles Davis" required pattern="^[A-Za-zÀ-ÿ0-9\s'&./,\-#]+$">

        <label for="day" class="customLabel staatliches-regular">Select day</label>
        <select class="form-select custom-select" name="day" id="day">
            <option selected value="friday">Friday</option>
            <option value="saturday">Satuday</option>
            <option value="sunday">Sunday</option>
        </select>

        <label for="start" class="customLabel staatliches-regular">
            Start time (from 10 am to 12 pm)
        </label>
        <input type="text" class="form-control custom-form" id="start" name="start" pattern="^[0-9]{2}:[0-9]{2}$" title="valid format: hh:mm">


        <label for="duration" class="customLabel staatliches-regular">Approximate duration</label>
        <input type="number" class="form-control custom-form" id="duration" name="duration" required min="10" max="120" pattern="\b\d{2,3}\b">

        <label for="stage" class="customLabel staatliches-regular">Select stage</label>
        <select class="form-select custom-form" name="stage" id="stage">
            <option selected value="A">
                Stage A
            </option>
            <option value="B">Stage B</option>
            <option value="C">Stage C</option>


        </select>

        <label for="description" class="customLabel staatliches-regular">Describe performance</label>
        <input name="description" id="description" class="form-control custom-form" required pattern="^[A-Za-zÀ-ÿ0-9\s'&./,\-#]+$">

        <label for="genre" class="customLabel staatliches-regular">Music genre</label>
        <input type="text" id="genre" name="genre" class="form-control custom-form" required pattern="^[A-Za-zÀ-ÿ0-9\s'&./,\-#]+$">

        <label for="file" class="customLabel staatliches-regular">Artist image</label>
        <input type="file" name="file" id="file" class="form-control custom-form" required>

        <div class="d-flex flex-row mt-3 gap-2">

            <div class="btn btn-outline-primary"
            onclick="document.getElementById('type_post').value = 'bozza'; document.getElementById('submit').click()">Save as draft</div>

            <div class="btn btn-outline-success"
            onclick="document.getElementById('type_post').value = 'pubblicato'; document.getElementById('submit').click()">Post now</div>


            <input type="hidden" id="type_post" name="type_post" value="">
            <button type="submit" style="display: none;" id="submit"></button>

        </div>


    </form>

{% endblock %}